
<div class="div-wrapper">
    <!-- Top navigation -->
    <nav class="navbar navbar-light bg-light sticky-top flex-md-nowrap d-flex justify-content-between flex-wrap">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0">
        <img class="brand-logo" src="../../../assets/images/ogya-title-removebg-preview.png" alt="Ogya Logo">
      </a>
      <button type="button" style="text-align: left; padding-left: 25px;" class="btn btn-outline-danger btn-sm logout" (click)="authService.SignOut()"><span><i class="uil uil-sign-out-alt"></i></span> Log out </button>

      </nav>
      <!-- Sidebar navigation -->
      <div class="sidebar-nav">
        <div class="row">
          <nav class="col-md-2 bg-dark sidebar">
            <div class="sidebar">
              <div class="btn-group-vertical" > 
                <button type="button" style="text-align: left; padding-left: 25px;" class="btn btn-secondary btn-lg btn-block active" routerLink="/dashboard" routerLinkActive="active"><span><i class="uil uil-user-circle"></i></span> User Profile </button>
                <button type="button" style="text-align: left; padding-left: 25px;" class="btn btn-secondary btn-lg btn-block" routerLink="/register-student" routerLinkActive="active"><span><i class="uil uil-plus-circle"></i></span> Add Student </button>
                <button type="button" style="text-align: left; padding-left: 25px;" class="btn btn-secondary btn-lg btn-block" routerLink="/view-students" routerLinkActive="active"><span><i class="uil uil-clipboard-notes"></i></span> Student List </button>
              </div>
            </div>
          </nav>
          <!-- Main content -->
          <!-- <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 main"> -->
          <main class="col-md-9 ml-sm-auto col-lg-10 px-4 main">
            <body class="body-outlet">

            <router-outlet></router-outlet>
                          
          </body>
          </main>
        </div>
      </div>
        
    </div>