.brand-logo{
    width: 150px;
    height: auto;
}

.navbar{
    height: 100px;
}

a{
    text-decoration: none;
    color: white;
}

.nav-item{
 color: red;   
}

.btn-block{
    width: 100%;
}
.btn-group-vertical{
    width: 100%;
    padding: 0 !important;
}
.btn-outline-primary{
    border: none;
}
.sidebar{
    border-radius: 10px;
    position: fixed;
    bottom: 0;
    top: 0;
    padding-top: 100px;
    width: 100%;
    padding-right: 0;
}

.sidebar-sticky{
    position: absolute;
    width: 100%;

}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

main{
    padding-top: 50px;
    height: fit-content;
    
}

.layout-body{
    background-color: black;
}

.body-outlet{
    border-radius: 20px;
    padding: 30px;
    margin-top: -20px;
    top: 0;
    left: 0 ;
}

.div-wrapper{
    background-color: rgba(136, 188, 214, 1);
}

.logout{
    margin-right: 30px;
}

.brand-logo{
    margin-left: 25px;
}